@model BidOn.Entities.Auction

<h2>Edit</h2>


<form id="UpdateTable">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Title</label>
    <input name="Title" value="@Model.Title" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>ActualAmount</label>
    <input name="ActualAmount" value="@Model.ActualAmount" />
    <br />
    <label>StartingTime</label>
    <input name="StartingTime" value="@Model.StartingTime" />
    <br />
    <label>EndTime</label>
    <input name="EndTime" value="@Model.EndTime" />
    <br />
    <button type="button"id="UpdateBtn">Update</button>


</form>
<script>
    $("#UpdateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Auctions")',
            data: $("#UpdateTable").serialize()

        })
            .done(function (response) {

                $("#tableContainer").html(response);
                $("#contentArea").html('');
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });

</script>
