@model BidOn.Entities.Auction
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>

    <label>Title</label>
    <input name="Title"value="@Model.Title" />
    <br />
    <label>Description</label>
    <input name="Description"value="@Model.Description" />
    <br />
    <label>ActualAmount</label>
    <input name="ActualAmount"value="@Model.ActualAmount" />
    <br />
    <label>StartingTime</label>
    <input name="StartingTime"value="@Model.StartingTime" />
    <br />
    <label>EndTime</label>
    <input name="EndTime"value="@Model.EndTime" />
    <br />
    <button>Update</button>


</form>

