@model BidOn.Entities.Auction

<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
</div>
<form id="UpdateTable" style="overflow: auto">
    <div class="modal-body">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="Title" value="@Model.Title" />

        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" value="@Model.Description" />

        </div>
        <div class="form-group">
            <label>ActualAmount</label>
            <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />

        </div>
        <div class="form-group">
            <label>StartingTime</label>
            <input class="form-control" name="StartingTime" value="@Model.StartingTime" />

        </div>
        <div class="form-group">
            <label>EndTime</label>
            <input class="form-control" name="EndTime" value="@Model.EndTime" />

        </div>
        <div class="preview-images-zone">
            <div class="preview-image preview-show-1">
                <div class="image-cancel" data-no="1">x</div>
                <div class="image-zone"><img id="pro-img-1" src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5Ny85NTkvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzYzOTcxNjY1LmpwZw=="></div>
                <div class="tools-edit-image"><a href="javascript:void(0)" data-no="1" class="btn btn-light btn-edit-image">edit</a></div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" id="UpdateBtn" class="btn btn-success">Update</button>
            <button type="button" id="cancelBtn" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>
<script>
    $("#UpdateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Auctions")',
            data: $("#UpdateTable").serialize()

        })
            .done(function (response) {

                $("#tableContainer").html(response);
                $('#FormModel').modal('hide');
                //$("#contentArea").html('');

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>
