@model BidOn.Entities.Auction

<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
</div>
<form id="UpdateTable"style="overflow: auto">
    <div class="modal-body">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="Title" value="@Model.Title" />

        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" value="@Model.Description" />

        </div>
        <div class="form-group">
            <label>ActualAmount</label>
            <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />

        </div>
        <div class="form-group">
            <label>StartingTime</label>
            <input class="form-control" name="StartingTime" value="@Model.StartingTime" />

        </div>
        <div class="form-group">
            <label>EndTime</label>
            <input class="form-control" name="EndTime" value="@Model.EndTime" />

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="UpdateBtn" class="btn btn-success">Update</button>
        <button type="button" id="cancelBtn" class="btn btn-warning" data-dismiss="modal">Cancel</button>
    </div>

</form>
<script>
    $("#UpdateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Auctions")',
            data: $("#UpdateTable").serialize()

        })
            .done(function (response) {

                $("#tableContainer").html(response);
                $('#FormModel').modal('hide');
                //$("#contentArea").html('');
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>
