@model BidOn.Web.ViewModels.UsersViewModel


@{

        var roleId = string.IsNullOrEmpty(Model.RoleId) ? Model.RoleId : string.Empty;
    }

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col col-lg-12">
                    <h2>Users</h2>
                    <hr />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col col-lg-12">
                    <form id="userControlForm">
                        <div class="input-group">
                            @if (Model.Roles != null && Model.Roles.Count > 0)
                            {
                                <select class="form-control mr-1" name="roleId" id="SelectRole">
                                    <option value="0"  selected>
                                        Select Category
                                    </option>
                                    @foreach (var role in Model.Roles)
                                    {
                                        var selected = role.Id == roleId ? "selected" : string.Empty;
                                        <option value="@role.Id" @selected>
                                            @role.Name
                                        </option>
                                    }
                                </select>

                            }
                            <input type="text" id="searchTxt" name="search" class="form-control mr-1" placeholder="Search by title..." value="@Model.SearchTerm">
                            <div class="input-group-append link-danger" id="button-addon4">
                                <button id="searchBtn" class="btn btn-primary mr-1" type="button">Search</button>
                                <button id="resetBtn" class="btn btn-secondary mr-1" type="button">Reset</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div id="UserListingTable">

                <table class="table table-striped">
                    <thead style="background-color:darkseagreen">
                        <tr>
                            <td>Name</td>

                            <td>UserName</td>

                            <td>Email</td>

                            <td>Roles</td>

                            <td>Actions</td>
                        </tr>

                    </thead>
                    <tbody>
                        @if (Model.Users != null && Model.Users.Count > 0)
                        {
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td><input type="hidden" value="@user.Id" />
                                    @user.UserName</td>

                                    <td>@user.UserName</td>

                                    <td>@user.Email</td>

                                    <td>@user.Roles.Count()</td>

                                    <td>
                                        <a href="@Url.Action("UserDetails","Users",new { Id=user.Id})"class="morebtn btn btn-primary">More Details</a>
                                    </td>


                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="12" class="text-center alert alert-danger">
                                    No User found!!!
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.pager != null && Model.pager.TotalPages > 1)
                {<nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @if (Model.pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">First</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="pageDataLink page-link text-primary" data-href="@Url.Action("UsersList","Users" ,new { roleId=Model.RoleId,search=Model.SearchTerm,pageNo=Model.pager.CurrentPage-1})" style="cursor:pointer">Previous</a>
                                </li>
                            }
                            @for (int page = Model.pager.StartPage; page < Model.pager.EndPage; page++)
                            {
                                var acitve = page == Model.pager.CurrentPage ? "active bg-info" : string.Empty;
                                <li class="page-item @acitve">
                                    <a class="pageDataLink page-link text-primary" data-href="@Url.Action("UsersList","Users" ,new { roleId=Model.RoleId,search=Model.SearchTerm,pageNo=page})" style="cursor:pointer">@page</a>
                                </li>
                            }
                            @if (Model.pager.CurrentPage == Model.pager.EndPage)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Last</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item bg-white">
                                    <a class="pageDataLink page-link text-primary" data-href="@Url.Action("UsersList","Users" ,new { roleId=Model.RoleId,search=Model.SearchTerm,pageNo=Model.pager.CurrentPage+1})" style="cursor:pointer">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>}


            </div>
        </div>
    </div>
    <script>
        $("#searchBtn").click(function () {

            $.ajax({
                url: '@Url.Action("UsersList", "Users")',
                data: {
                    searchTerm: $("#searchTxt").val()
                }
            }).done(function (response) {
                $("#usertableContainer").html(response)
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
        });
        $("#resetBtn").click(function () {
            $.ajax({
                url: '@Url.Action("UsersList", "Users")',
                data: {

                    searchTerm: "",
                }

            })
                .done(function (response) {

                    $("#usertableContainer").html(response);


                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });


        });
        $("#SelectRole").change(function () {
            $.ajax({
                url: '@Url.Action("UsersList", "Users")',
                data: {
                    search: $("#searchTxt").val(),
                    roleId: $("#SelectRole").val()
                }

            })
                .done(function (response) {

                    $("#usertableContainer").html(response);


                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        });

        $(".pageDataLink").click(function () {

            var url = $(this).attr("data-href");

            $.ajax({
                
                url: url
                
            })
                .done(function (response) {


                    $("#usertableContainer").html(response);


                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });


        });

        
    </script>

