@model BidOn.Web.ViewModels.AuctionsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">



    <div class="col-lg-12">
        @if (Model.PromotedAuctions != null && Model.PromotedAuctions.Count() > 0)
        {
            var i = 0;
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach (var promotePic in Model.PromotedAuctions)
                    {
                        var active = promotePic == Model.PromotedAuctions.First() ? "active" : string.Empty;
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@active"></li>
                        i++;
                    }

                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach (var promotePic in Model.PromotedAuctions)
                    {
                        var active = promotePic == Model.PromotedAuctions.First() ? "active" : string.Empty;
                        <div class="carousel-item @active">
                            <a href="@Url.Action("Details", "Auctions",new { Id = promotePic.Id })">
                                <img class="d-block img-fluid" src="~/Content/images/@promotePic.AuctionPictures.First().Picture.Url" style="width:900px; height:350px;">
                            </a>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
        <div class="row">
            @foreach (var auction in Model.PromotedAuctions)
            {
                var picUrl = auction.AuctionPictures != null && auction.AuctionPictures.Count > 0 ?
                   auction.AuctionPictures.First().Picture.Url : "http://placehold.it/700x400";

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href=" @Url.Action("Details", "Auctions", new { Id = auction.Id }) ">
                            <img class="card-img-top" src="~/Content/images/@picUrl" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Details","Auctions",new {Id=auction.Id})">@auction.Title</a>
                            </h4>
                            <h5>@auction.ActualAmount</h5>
                            <p class="card-text">@auction.Description</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>

                    </div>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var auction in Model.AllAuctions)
            {
                var picUrl = auction.AuctionPictures != null && auction.AuctionPictures.Count > 0 ?
                   auction.AuctionPictures.First().Picture.Url : "http://placehold.it/700x400";
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="~/Content/images/@picUrl" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Details","Auctions",new {Id=auction.Id})">@auction.Title</a>
                            </h4>
                            <h5>@auction.ActualAmount</h5>
                            <p class="card-text">@auction.Description</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.row -->

    </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        // var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        //for (i = 0; i < dots.length; i++) {
        //  dots[i].className = dots[i].className.replace(" active", "");
        //}
        slides[slideIndex - 1].style.display = "block";
        //dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>