
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand text-sm-center col-sm-3 col-md-2 ml-2 mr-0" href="@Url.Action("Index","Home")">BidOn__</a>
        <input class="navbar-brand text-center form-control-dark w-100 bg-dark " value="Hi @User.Identity.Name.ToUpper()" disabled>
        @if (User.Identity.IsAuthenticated)
        {<ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" id="logoutBtn">Sign out</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="@Url.Action("Login","Account")">Sign in</a>
                </li>
            </ul>
        }
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 mt-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active " href="@Url.Action("Index","DashBoard")">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","category")">
                                <span data-feather="shopping-cart"></span>
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Auctions")">
                                <span data-feather="file"></span>
                                Auctions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Bids
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>User Menu</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Roles
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mt-2 px-4">

                @RenderBody()

            </main>
        </div>
    </div>

</body>
</html>
<form id="logoutForm" method="post" action="@Url.Action("LogOff","Account")">
    @Html.AntiForgeryToken()
</form>
@RenderSection("Scripts", required: false)
<script>
    $("#logoutBtn").click(function () {
        $("#logoutForm").submit();
    })
</script>
